/* heading  */
.heading h2 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    position: relative;
}

.heading h2 span {
    display: inline-block;
    width: 70px;
    height: 1px;
    background-color: var(--border);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.heading h2 span:first-child {
    left: -30%;
}

.heading h2 span:last-child {
    right: -30%;
}

/* span decoration */
.heading h2 span::after {
    content: '';
    top: 4px;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid var(--border);
    background-color: var(--background);
    transform: rotate(45deg) translate(-50%, -50%);
}

.heading h2 span:last-of-type:after {
    right: 0;
}



/* end heading  */

.reservation {
    width: 100%;
    height: calc(100vh - 20px);
    background-color: var(--background);
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    overflow: hidden;
}
.reservation img {
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
    filter: brightness(.6);
}


.reservation p {
    font-size: large;
    text-align: center;
    opacity: .8;
}

/* reservation bar  */
.reservation .reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border);
    border-radius: 7px;
    padding: 40px;
    gap: 40px;
    height: calc(100% - 70px);
}

/* reservation inputs */
.reservation .reserve form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.reservation .reserve form>input {
    width: 500px;
    height: 50px;
    color: var(--text);
    font-size: medium;
    background-color: var(--background-muted);
    padding: 15px;
    border-radius: 7px;
    border: 1px solid var(--border);
    outline: none;
}
.reservation .reserve form>input:focus{
    outline: none;
    border: 1px solid rgba(255, 232, 203, 0.692);

}
.reservation .reserve form .extra {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 7px;
}

.reservation .reserve form .extra input {
    width:calc(485px /3) ;
    padding: 10px;
    color: var(--text);
    font-size: medium;
    background-color: var(--background-muted);
    padding: 15px;
    border-radius: 7px;
    outline: none;
    border: 1px solid var(--border);
}
.reservation .reserve form .extra input:focus{
    color: var(--text);
    border: 1px solid rgba(255, 232, 203, 0.692);
}
/* submit button  */
.reservation .reserve form .submit{
    background-color: var(--background-primary);
    text-transform: uppercase;
    padding: 5px;cursor: pointer;
    color: black;
    transition: .3s;
}
.reservation .reserve form .submit:hover{
    background-color: #f5e3b7;
}